body{
    background-color: rgba(243,245,245,1.00);
    font-family: 'Roboto Serif', sans-serif;
    min-width: 320px;

}
header{
    background-color: white;
    box-shadow: rgba(28, 72, 151, 0.25) 0px 0px 2px;
}

#header{
    padding: 10px;
}

.menu{
    display: flex;
    justify-content: space-between;

}

.logo-href{
    display: flex;
    align-items: center;
}

.logo-title{
    color: #094774;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}

.btn{
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;

    line-height: 16.8px;
    font-size: 17px;
    font-weight: 600;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;

}

.btn-autorize{
    color: #95A8B5;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap:3px;
}

.btn-autorize:active{
    color:rgb(108, 134, 152);
}
.btn-autorize svg{
    fill: rgb(13, 56, 87);
    width: 20px;
    opacity: 0.5;

}

/*filter-section*/

.filter-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    gap: 30px;
    max-width: max-content;
    font-size: 12px;
    line-height: 16px;
    box-shadow: 0px 1px 3px rgb(60 60 60 / 15%);
}
.wrapper-input {
    position: relative;
}
.filter__input, .filter select{
    box-shadow: 0px 1px 3px rgb(60 60 60 / 15%);
    background-color: rgba(0,0,0,0.00);
    border: 0 solid white;
    color: rgba(13,56,87,1.00);
    padding: 5px 20px;
    outline:none;
}

.filter__input::placeholder{
    font-size: 12px;
    color:#6B7D8E;

}
.filter svg{
    position: absolute;
    top: 4px;
    right: 6px;
    opacity: 0.5;
    width: 20px;
    height: 20px;
}

.filter-btn {
    box-shadow: 0px 1px 3px rgb(60 60 60 / 15%);
    background-color: rgba(0,0,0,0.00);
    border: 0 solid white;
    color: rgba(13,56,87,1.00);
    padding: 5px 20px;
    cursor: pointer;
}
.filter-btn:hover {
    background-color: rgba(243,245,245,1.00);
}
/*main*/

main{
    padding: 20px 0;
    text-align: center;
}

#main{
    background-color: #F7F8F8;
    box-shadow:0px 1px 4px rgb(60 60 60 / 15%);
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.placeholder__text{
    color: rgba(108,134,152,1.00);
    margin-bottom: 50px;
}

/*form-login*/
.wrapper-login:before{
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 1;
}

.form-login {
    background-color: rgba(255,255,255,1.00);
    border: 0 solid black;
    border-radius: 4px;
    box-shadow: 0px 1px 4px rgb(60 60 60 / 15%);
    z-index: 200;
    padding: 16px;
    max-width: 35vw;
    min-width: 300px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 25vh;
    text-align: center;
}

.login-title {
    color: rgba(13,56,87,1.00);
    margin: 20px auto;
    font-size: 14px;


}
.login-input {
    background-color: rgba(243,245,245,1.00);
    border-radius: 4px;
    font-size: 14px;
    line-height: 16px;
   color:rgba(13,56,87,1.00);
    padding: 20px;
    width: 30vw;
    min-width: 260px;
    border: 0 solid white;
    outline:none;
    margin-bottom: 20px;
}

.login-input::placeholder {
    color:#6B7D8E;
    font-size: 12px;
}
#login-submit, .login-cancel{
    background-color: rgba(108,134,152,1.00);
    padding: 16px 8px;
    width: 15vw;
    margin: 15px auto;
    border: 1px solid rgba(108,134,152,1.00);
    color: white;
    opacity: 0.5;
    border-radius: 4px;
    font-size: 14px;
    min-width: max-content;
    cursor: pointer;
}

